<div class="container-fluid h-100">
  <div class="row h-75 justify-content-center align-items-md-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
      <article class="message is-danger mb-3" *ngIf="error">
        <div class="message-body">
          {{ error }}
          <mat-icon class="message-close-icon" (click)="error = null"
            >highlight_off</mat-icon
          >
        </div>
      </article>
      <mat-card class="pl-5 pr-5 pt-5 pb-4 mt-3 mt-md-0">
        <mat-card-header>
          <mat-card-title>Sign in to your account</mat-card-title>
        </mat-card-header>
        <form
          autocomplete="off"
          [formGroup]="loginFormGroup" 
          #loginForm="ngForm"
          (ngSubmit)="onSubmit(loginForm)"
        >
          <mat-card-content>
            <div [style.display]="isLoading ? 'none' : 'block'">
              <div class="row mt-2">
                <div class="col-12">
                  <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input
                      matInput
                      type="email"
                      id="email"
                      formControlName="email"
                      placeholder="email@example.com"
                    />
                    <!-- <mat-icon matPrefix>sentiment_very_satisfied</mat-icon> -->
                    <mat-error
                      *ngIf="
                        loginFormGroup.get('email')?.hasError('email') &&
                        !loginFormGroup.get('email')?.hasError('required')
                      "
                    >
                      Please enter a valid email address
                    </mat-error>
                    <mat-error
                      *ngIf="loginFormGroup.get('email')?.hasError('required')"
                    >
                      Email is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input
                      matInput
                      type="password"
                      id="password"
                      formControlName="password"
                    />
                    <!-- <mat-icon matPrefix>sentiment_very_satisfied</mat-icon> -->
                    <mat-error
                      *ngIf="
                        loginFormGroup.get('password')?.hasError('pattern') &&
                        !loginFormGroup.get('password')?.hasError('required')
                      "
                    >
                      Password must contain 8 characters and at least one number,
                      one letter and one special character
                    </mat-error>
                    <mat-error
                      *ngIf="loginFormGroup.get('password')?.hasError('required')"
                    >
                      Password is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-6">
                  <mat-checkbox id="rememberMe" formControlName="rememberMe"
                    >Remember me</mat-checkbox
                  >
                </div>
                <div class="col-6 text-right">
                  <a href="#">Forgot your password?</a>
                </div>
              </div>
            </div>
            <div class="row" [style.display]="isLoading ? 'block' : 'none'">
              <div class="col-12">
                <mat-spinner class="ml-auto mr-auto mt-5 mb-5"></mat-spinner>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions [style.display]="isLoading ? 'none' : 'block'">
            <button
              mat-raised-button
              type="submit"
              color="primary"
              class="w-100 p-1"
            >
              Continue
            </button>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </div>
</div>
